<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cupiditate id? Rem eius error nam vitae itaque accusamus. Inventore nobis animi repellat magnam soluta ea. Dignissimos, unde magni. Voluptatem, fugit praesentium. Assumenda fugiat ut autem quia temporibus dolor molestias eaque laborum natus tempora inventore libero consequuntur quo eum, recusandae officia.
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>